extends ../utils/_base.pug

block append subTitle
  - var pageTitle = 'second'

block jsonLD
  -
    const useCanonical = false;
    const jsonLD = [
      {name: 'HOME', path: '/'},
      {name: 'second', path: '/second/'},
    ];

block append stylesheet

block main