@font-face {
  font-family: "glyphs";
  src: url('../fonts/glyphs.eot?t=1627263693889'); /* IE9*/
  src: url('../fonts/glyphs.eot?t=1627263693889#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("../fonts/glyphs.woff2?t=1627263693889") format("woff2"),
  url("../fonts/glyphs.woff?t=1627263693889") format("woff"),
  url('../fonts/glyphs.ttf?t=1627263693889') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/glyphs.svg?t=1627263693889#glyphs') format('svg'); /* iOS 4.1- */
}

[class^="glyphs-"], [class*=" glyphs-"] {
  font-family: 'glyphs' !important;
  font-size:1em;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.glyphs-Akrobat-Regular:before { content: "\ea01"; }
.glyphs-test:before { content: "\ea02"; }
