$state: cover;
@define-mixin objectfit $state {
  object-fit: $state;
  font-family: 'object-fit: $state;';
}

/* Fonts */
@font-face {
  font-family: 'Akrobat';
  src: url('/assets/fonts/Akrobat-Regular.eot');
  src: url('/assets/fonts/Akrobat-Regular.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/Akrobat-Regular.woff2') format('woff2'),
      url('/assets/fonts/Akrobat-Regular.woff') format('woff'),
      url('/assets/fonts/Akrobat-Regular.ttf') format('truetype'),
      url('/assets/fonts/Akrobat-Regular.svg#Akrobat-Regular') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Akrobat-Thin';
  src: url('/assets/fonts/Akrobat-Thin.eot');
  src: url('/assets/fonts/Akrobat-Thin.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/Akrobat-Thin.woff2') format('woff2'),
      url('/assets/fonts/Akrobat-Thin.woff') format('woff'),
      url('/assets/fonts/Akrobat-Thin.ttf') format('truetype'),
      url('/assets/fonts/Akrobat-Thin.svg#Akrobat-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Akrobat-SemiBold';
  src: url('/assets/fonts/Akrobat-SemiBold.eot');
  src: url('/assets/fonts/Akrobat-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/Akrobat-SemiBold.woff2') format('woff2'),
      url('/assets/fonts/Akrobat-SemiBold.woff') format('woff'),
      url('/assets/fonts/Akrobat-SemiBold.ttf') format('truetype'),
      url('/assets/fonts/Akrobat-SemiBold.svg#Akrobat-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

$font_akrobat: 'Akrobat';
$font_akrobat_thin: 'Akrobat-Thin';
$font_akrobat_semi: 'Akrobat-SemiBold';

/* Url */
$url: /assets/images/;

/* Color */
$color_red: #ff0000;
$color_dark: #131313;