:root {
  --vw: 10px;
  --vh: 10px;
}

html {
  font-size: 10px;
}

body,
button,
td,
th,
input,
select,
textarea {
  font-family: '游ゴシック体', 'Yu Gothic', YuGothic, 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'MS Pゴシック',
    'MS PGothic', sans-serif;
  font-weight: 500;
  font-size: rem(16);
  line-height: 1.5;
  color: #fff;
  -webkit-tap-highlight-color: transparent;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
ul,
ol,
li,
dl,
dt,
dd,
nav {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

main {
  display: block;
}

figure {
  display: block;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  width: 100%;
  vertical-align: middle;
}

a {
  color: currentColor;
  text-decoration: none;
}

input[type='text'] {
  word-break: keep-all;
  &::-ms-clear {
    display: none;
  }
}

select {
  &::-ms-expand {
    display: none;
  }
}

* {
  box-sizing: border-box;
  word-break: break-word;
  &:before,
  &:after {
    display: block;
    box-sizing: border-box;
  }
}

[class^='glyphs-'] {
  display: inline-flex;
  line-height: 1;
}

[class^='glyphs-']:before,
[class*=' glyphs-']:before {
  line-height: 1;
  vertical-align: middle;
}
