extends ./utils/_base.pug

block append stylesheet
  link(rel="stylesheet", href='/' + subDirectory + process.env.npm_package_config_assetPath + '/css/top.css')

block main
  .mv 
    h2.show_pc 
      | Pushing the limits 
      br
      | for Better
    h2.show_sp 
      | BORN FROM
      br
      | MOTOR SPORTS.
    figure
      +pic('mv.png','mv-sp.png','Pushing the limits for Better')(class="fit")
    a(href="#introduce").scroll-down 
      i.fav-scroll
      | SCROLL
  .introduce#introduce
    .row
      .introduce__movie.pause
        i.fav-play
        video(poster="./assets/images/poster.png",controls)#video
          source(src="./assets/images/video.mp4" type="video/mp4")
        //- iframe(src="https://www.youtube.com/embed/V2HQHdiHQ-A",allowfullscreen)#video 
      .introduce__description 
        p 
          | いいクルマとは何か。
          br.show_sp
          | そこに明確な答えはない。
        p 
          | しかし、私たちは一つの条件として
          br.show_sp
          | “走りたくなるクルマ”だと考える。
        p 
          | 見た瞬間、座った瞬間、心まで動く。
        p 
          | そして、走り出せばクルマとの一体感、
          br.show_sp
          | 意のままに操る快感を感じられる。
        p 
          | 世界中のモータースポーツに参戦する
          br.show_sp
          | TOYOTA GAZOO Racing が
        p 
          | 極限で培った技術と情熱を惜しみなく
          br.show_sp
          | 注ぐスポーツカーブランド、GR。
        p 
          | 街を走るのに、レースに勝つ速さは
          br.show_sp
          | 必要ない。
        p 
          | だが、レースに勝てるクルマは
          br.show_sp
          | 安全でドライバーを疲れさせない。
        p 
          | 何よりも乗っていて楽しい。
          br.show_sp
          | 圧倒的な安心感と快感のあるクルマ。
        p 
          | もっと走っていたいと思うクルマ。
          br.show_sp
          | いいクルマとは何か。
        p 終わりのない答えへの、挑戦を続ける。
    .introduce__slide.swiper-container
      .swiper-wrapper
        .swiper-slide
          +img('/slide-01.png','slide sample').fit
        .swiper-slide
          +img('/slide-02.png','slide sample').fit
        .swiper-slide
          +img('/slide-03.png','slide sample').fit
        .swiper-slide
          +img('/slide-04.png','slide sample').fit
        .swiper-slide
          +img('/slide-05.png','slide sample').fit
        .swiper-slide
          +img('/slide-06.png','slide sample').fit
  .about#about
    figure.about__bkg
      +pic('about.png','about-sp.png','about')(class="fit")
    .about__obj 
      h2.ttl 
        span.ttl-en 
          | ABOUT
          br
          | GR GARAGE
        span.ttl-jp 宇都宮つくるま工房
      .txt 
        p 
          | GR Garage宇都宮つくるま工房はそのブランドを掲げ、クルマ好きが集まり、そして増えていく、そんな「町いちばんの楽しいクルマ屋さん」を目指し、2017年9月にオープンしました。
        p
          | カスタマイズの知識に優れた専門スタッフが常時在籍、クルマが好きなお客様と共に語り、楽しむことはもちろん、カスタマイズやチューニングのご相談も承ります。
        p 
          | 敷地面積約1870㎡、建築面積約880㎡、3基のリフトを備える整備工場があります。
        p 
          | 全国のGRガレージの中でも最大規模の「GR Garage 宇都宮つくるま工房」、ここはお客様の夢を叶える場所です。
  .showroom
    a(href="#")
      figure.showroom__thumb 
        +img('photo-01.png','ドライビングシミュレーター設置！').fit
      .showroom__caption 
        h4 Photo caption 
        h3 ドライビングシミュレーター設置！
        p 
          | 本格的なドライビングシミュレーターを設置。まずは、バーチャルで腕を磨くも良し！トップタイムのためにストイックに練習するのも良し！ぜひ、ご利用ください。　
          br
          |（1,000円／15分）
      span.view-more 
    a(href="#")
      figure.showroom__thumb 
        +img('photo-02.png','ドライビングシミュレーター設置！').fit
      .showroom__caption 
        h4 Photo caption 
        h3 ８０年～９０年代のスポーツカーも展示！
      span.view-more 
  .staff#staff 
    h2.ttl 
      span.ttl-en 
        | STAFF
        br
        | GR GARAGE
    .staff__list
      a(href="#").staff__list--item 
        figure 
          +pic('staff-01.png','staff-01-sp.png','新井 努').fit
          figcaption 
            p.title-jp 新井 努
            p.title-en 
              | TSUTOMU ARAI 
              br
              | GR CONSULTANT 
      a(href="#").staff__list--item 
        figure 
          +pic('staff-02.png','staff-02-sp.png','鈴木 甲志').fit
          figcaption 
            p.title-jp 鈴木 甲志
            p.title-en 
              | KATSUSHI SUZUKI
              br
              | GR CONSULTANT
      a(href="#").staff__list--item 
        figure 
          +pic('staff-03.png','staff-03-sp.png','佐藤 明里').fit
          figcaption 
            p.title-jp 佐藤 明里
            p.title-en 
              | AKARI　SATO
  .models#models
    .swiper-wrapper
      .swiper-slide.models__item(data-category="GR SPORT", data-name="PRIUS PHV")
        .car-info
          .wrapTxt
            h3.car-item 
              span.category GR SPORT 
              span.name 
                | PRIUS
                br
                |PHV 
        .car-photo
          +pic('car-01.png','car-01-sp.png','PRIUS PHV')
      .swiper-slide.models__item(data-category="GR SPORT", data-name="NOAH")
        .car-info
          .wrapTxt
            h3.car-item 
              span.category GR SPORT 
              span.name 
                | NOAH
        .car-photo
            +pic('car-02.png','car-02-sp.png','NOAH')
      .swiper-slide.models__item(data-category="GR", data-name="86")
        .car-info
          .wrapTxt
            h3.car-item 
              span.category GR 
              span.name 
                | 86
        .car-photo
            +pic('car-03.png','car-03-sp.png','86')
      .swiper-slide.models__item(data-category="GR SPORT", data-name="AQUA")
        .car-info
          .wrapTxt
            h3.car-item 
              span.category GR SPORT
              span.name 
                | AQUA
        .car-photo
            +pic('car-04.png','car-04-sp.png','AQUA')
      .swiper-slide.models__item(data-category="GR SPORT", data-name="PRIUSα")
        .car-info
          .wrapTxt
            h3.car-item 
              span.category GR SPORT
              span.name 
                | PRIUSα
        .car-photo
            +pic('car-05.png','car-05-sp.png','PRIUSα')
      .swiper-slide.models__item(data-category="GRMN", data-name="Vitz")
        .car-info
          .wrapTxt
            h3.car-item 
              span.category GRMN 
              span.name Vitz 
            dl.show_pc
              dt 全国限定抽選
              dd 1500台（予定）
              dt 申込み受付
              dd 2018年4月中旬～5月13日（予定
              dt 発売予定日
              dd 2018年6月1日
        .car-photo
          +pic('car-06.png','car-06-sp.png','Vitz')
    .swiper-button-next
    .swiper-button-prev
    .swiper-pagination
      span.vehicle 取り扱い車種
  .products#products
    h2.ttl 
      span.ttl-en 
        | PRODUCTS
        br
        | GR GARAGE
    .products-list  
      a(href="#",target="_blank").products-item 
        +pic('product-01.png','product-01-sp.png','product sample').wakos          
      a(href="#",target="_blank").products-item 
        +pic('product-02.png','product-02-sp.png','product sample').sunoco    
      a(href="#",target="_blank").products-item 
        +pic('product-03.png','product-03-sp.png','product sample').motul    
      a(href="#",target="_blank").products-item 
        +pic('product-04.png','product-04-sp.png','product sample').petronas    
      a(href="#",target="_blank").products-item 
        +pic('product-05.png','product-05-sp.png','product sample').endless 
      a(href="#",target="_blank").products-item 
        +pic('product-06.png','product-06-sp.png','product sample').project  
      a(href="#",target="_blank").products-item 
        +pic('product-07.png','product-07-sp.png','product sample').ogura  
      a(href="#",target="_blank").products-item 
        +pic('product-08.png','product-08-sp.png','product sample').racing    
      a(href="#",target="_blank").products-item 
        +pic('product-09.png','product-09-sp.png','product sample').tom   
      a(href="#",target="_blank").products-item 
        +pic('product-10.png','product-10-sp.png','product sample').hks      
      a(href="#",target="_blank").products-item 
        +pic('product-11.png','product-11-sp.png','product sample').bltz      
      a(href="#",target="_blank").products-item 
        +pic('product-12.png','product-12-sp.png','product sample').cusco     
      a(href="#",target="_blank").products-item 
        +pic('product-13.png','product-13-sp.png','product sample').fuji      
  .shop#shop 
    .shop__inner 
      h2.ttl 
        span.ttl-en 
          | SHOP INFO
          br
          | GR GARAGE
        span.ttl-jp 宇都宮つくるま工房
      ul.info__list 
        li.info__list--items
          span.txt.txt-en TEL 
          a(href="tel:+0286123055").content.txt-en 028-612-3055
        li.info__list--items
          span.txt 営業時間 
          span.content.txt-en 9：30～19：00
        li.info__list--items
          span.txt 定休日 
          span.content 毎週月曜日（月曜日が祝日の場合は、翌日の火曜日）
        li.info__list--items
          span.txt 住所 
          span.content 〒321-0904 宇都宮市陽東5-8-24 
    .shop__inner
      +pic('shop.png','shop-sp.png','shop photo').photo-garage
    .shop__inner
      .maps#maps
    .shop__inner
      +pic('shop-2.png','shop-2-sp.png','shop photo').photo-garage
block append script
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZ5Sn357DhTZffT6pYh9Pc2fMrd3d4TEk&callback&language=ja", defer )