@charset "utf-8";
@import './_config/_mixin.css';
@import './_config/_fonts.css';
@import './_config/_media.css';
@import './_config/_reset.css';
@import './_layout.css';

a {
  color: currentColor;
  text-decoration: none;
}

.fit {
  width: 100%;
  height: 100%;
  @mixin objectfit;

  &--contain {
    @mixin objectfit contain;
  }
}

@media (--pc) {
  .ttl {
    position: relative;
    padding-bottom: 61px;
    padding-left: 43px;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $color_red;
    }
    &-en {
      display: block;
      font-size: rem(100);
      font-family: $font_akrobat_thin;
      font-weight: 400;
      color: $color_red;
      line-height: 98px;
      letter-spacing: 11px;
    }
    &-jp {
      display: block;
      font-size: rem(28);
      font-weight: 400;
      color: #d2d2d2;
      margin-top: 37px;
      letter-spacing: 14px;
      padding-left: 10px;
    }
  }
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 71px;
    z-index: 100;
    width: 100%;
    min-width: 1200px;
    transition: transform 0.5s cubic-bezier(0.43, 0.22, 0.61, 0.84);

    &.show {
      background-color: $color_dark;

      .header-menu {
        transform: translateY(0);
      }
      .header-social {
        transform: translateY(0);
      }
    }
    &-logo {
      display: inline-block;
      position: fixed;
      top: 29px;
      left: 30px;
      transition: opacity 0.5s, visibility 0.5s;
      opacity: 1;
      visibility: visible;
      &.hide {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0.3s;
      }
      a {
        display: flex;
        align-items: center;
        transition: opacity 0.3s;
        &:hover {
          opacity: 0.75;
        }
        img {
          height: 100%;
          width: auto;
        }
        > span {
          font-size: rem(18);
          font-weight: bold;
          margin-left: 20px;
          letter-spacing: 7px;
        }
      }
    }
    &-menu {
      transform: translateY(-200px);
      transition: transform 0.5s cubic-bezier(0.43, 0.22, 0.61, 0.84);
      .menu__list {
        display: flex;
        &__item {
          margin: 0 31px;
          a {
            font-family: $font_akrobat;
            font-size: rem(16);
            line-height: 26px;
            letter-spacing: 2.8px;
            transition: color 0.3s;
            &:hover {
              color: $color_red;
            }
          }
        }
      }
    }
    &-social {
      transform: translateY(-200px);
      transition: transform 0.5s cubic-bezier(0.43, 0.22, 0.61, 0.84);
      position: absolute;
      right: 15px;
      top: 27px;
      padding-right: 16px;
      display: flex;
      justify-content: flex-end;
      > a {
        display: inline-block;
        color: transparent;
        text-indent: -9999px;
        width: 25px;
        height: 25px;
        margin-left: 15px;

        &:hover {
          .fav-facebook {
            background: url('$url/icon_facebook_over.png') no-repeat;
          }
          .fav-line {
            background: url('$url/icon_line_over.png') no-repeat;
          }
          .fav-insta {
            background: url('$url/icon_insta_over.png') no-repeat;
          }
        }
      }
      .fav {
        display: block;
        margin: 0;
        transition: background 0.3s;
        &-facebook {
          width: 20px;
          height: 20px;
          background: url('$url/icon_facebook.png') no-repeat;
        }
        &-line {
          width: 21px;
          height: 20px;
          background: url('$url/icon_line.png') no-repeat;
        }
        &-insta {
          width: 22px;
          height: 22px;
          background: url('$url/icon_insta.png') no-repeat;
        }
      }
    }
  }
  .footer {
    display: flex;
    &__contact {
      width: percentage(665/1500);
      flex-shrink: 0;
      padding-top: 80px;
      padding-bottom: 110px;
      .ttl {
        display: inline-block;
        font-size: rem(100);
        font-family: $font_akrobat_thin;
        font-weight: 400;
        color: $color_red;
        line-height: 114px;
        letter-spacing: 11px;
        border-bottom: 1px solid $color_red;
        padding-bottom: 22px;
        padding-left: 38px;
      }
      .telephone {
        display: block;
        font-size: rem(78.3);
        font-family: $font_akrobat_thin;
        color: $color_red;
        margin-top: -7px;
        margin-bottom: 17px;
        padding-left: 45px;
        letter-spacing: 7px;
      }
      .btn-contact {
        font-family: $font_akrobat;
        width: 228px;
        height: 69px;
        font-size: rem(20);
        line-height: 26px;
        letter-spacing: 2.2px;
        background-color: $color_red;
        margin-left: 47px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transition: opacity 0.3s;
        &:hover {
          opacity: 0.8;
        }
        .fav-mail {
          width: 20px;
          height: 15px;
          background: url($url/icon-mail.png) no-repeat;
          background-size: contain;
          display: inline-block;
          margin: 0 20px 0 -12px;
        }
      }
    }
    &__info {
      width: percentage(835/1500);
      flex-shrink: 0;
      padding: 25px 25px 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      position: relative;
      &:before {
        content: '';
        width: calc(100% + 200px);
        height: 100%;
        position: absolute;
        right: -319px;
        top: 0;
        background-color: $color_red;
        transform: skew(-20.5deg);
        z-index: -1;
      }
      .info-top {
        height: 100%;
        display: inline-flex;
        align-items: center;
        flex-direction: column;
        .footer-logo {
          margin: 174px 0 0px 169px;
          transition: opacity 0.3s;
          &:hover {
            opacity: 0.8;
          }
          span {
            display: block;
            font-size: rem(22);
            line-height: 32px;
            letter-spacing: 8px;
            font-weight: 500;
            text-align: center;
            margin-top: 9px;
          }
          img {
            width: auto;
          }
        }
        .group-social {
          display: flex;
          justify-content: center;
          width: 100%;
          margin-top: 31px;
          padding-left: 207px;
          > a {
            display: inline-block;
            color: transparent;
            font-size: 0;
            width: 25px;
            height: 25px;
            margin-right: 42px;
            transition: opacity 0.3s;
            &:hover {
              opacity: 0.75;
            }
          }
          .fav {
            display: block;
            margin: 0;
            transition: background 0.3s;
            &-facebook {
              width: 33px;
              height: 33px;
              background: url('$url/icon_facebook_black.png') no-repeat;
            }
            &-line {
              width: 34px;
              height: 33px;
              background: url('$url/icon_line_black.png') no-repeat;
            }
            &-insta {
              width: 36px;
              height: 36px;
              background: url('$url/icon_insta_black.png') no-repeat;
            }
          }
        }
      }
      .info-bottom {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .btn-dark {
          width: 288px;
          height: 40px;
          font-size: rem(12);
          letter-spacing: 2px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #000;
          margin-right: 2px;
          &:hover {
            .arr-right {
              transform: translateX(5px);
            }
          }
          .arr-right {
            width: 8px;
            height: 13px;
            display: inline-block;
            background: url($url/arrow-right.png) no-repeat;
            margin-left: 17px;
            margin-right: -7px;
            transition: transform 0.3s;
          }
        }
        .copyright {
          font-family: $font_akrobat;
          font-size: rem(11);
          line-height: 26px;
          letter-spacing: 2.2px;
          text-align: right;
          color: #000;
          margin-bottom: 6px;
          margin-top: 16px;
        }
      }
    }
  }
}
@media (--sp) {
  .hamburger-box {
    width: vw(65);
    height: vw(40);
    display: inline-block;
    position: absolute;
    right: vw(23);
    top: vw(59);
    z-index: 3;
    &.is-active {
      .hamburger-inner {
        background-color: transparent;
        &:before {
          background-color: $color_dark;
          top: vw(-10);
          transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.3s cubic-bezier(0.46, 0.26, 0.64, 0.83);
          transform: translate3d(0, 10px, 0) rotate(45deg);
        }
        &:after {
          background-color: $color_dark;
          top: vw(-10);
          transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.3s cubic-bezier(0.46, 0.26, 0.64, 0.83);
          transform: translate3d(0, 10px, 0) rotate(-45deg);
        }
      }
    }
    .hamburger-inner {
      display: block;
      top: 50%;
      margin-top: -2px;
      width: vw(65);
      height: vw(4);
      background-color: $color_red;
      border-radius: vw(2);
      position: absolute;
      transition: transform 0.2s cubic-bezier(0.46, 0.26, 0.64, 0.83);
      &:before {
        content: '';
        display: block;
        width: vw(65);
        height: vw(4);
        background-color: $color_red;
        border-radius: vw(2);
        position: absolute;
        transition: transform 0.2s cubic-bezier(0.46, 0.26, 0.64, 0.83);
        top: vw(-18);
      }
      &:after {
        content: '';
        display: block;
        width: vw(65);
        height: vw(4);
        background-color: $color_red;
        border-radius: vw(2);
        position: absolute;
        transition: transform 0.2s cubic-bezier(0.46, 0.26, 0.64, 0.83);
        bottom: vw(-18);
      }
    }
  }
  .ttl {
    position: relative;
    padding-bottom: vw(61);
    padding-left: vw(27);
    width: vw(517);
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $color_red;
    }
    &-en {
      display: block;
      font-size: vw(100);
      font-family: $font_akrobat_thin;
      font-weight: 400;
      color: $color_red;
      line-height: vw(98);
      letter-spacing: vw(10);
    }
    &-jp {
      display: block;
      font-size: vw(28);
      font-weight: 400;
      color: #d2d2d2;
      margin-top: vw(38);
      letter-spacing: vw(14.2);
      padding-left: vw(3);
    }
  }
  .header {
    display: flex;
    justify-content: flex-start;
    position: fixed;
    padding: vw(28) vw(15);
    z-index: 5;
    width: 100%;
    transition: background .3s;
    &.is-fixed {
      background-color: $color_dark;
    }
    &-logo {
      display: inline-block;
      a {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        img {
          width: vw(342);
          height: vw(59);
        }
        > span {
          font-size: vw(27.2);
          font-weight: bold;
          padding: vw(9) 0 0 vw(11);
          letter-spacing: vw(10);
        }
      }
    }
    &-menu {
      background-color: $color_red;
      width: vw(693);
      height: calc(100% + vw(28));
      padding: vw(149) vw(93);
      position: fixed;
      top: vw(-28);
      left: 100%;
      overflow-y: auto;
      opacity: 0;
      transition: opacity 0.4s cubic-bezier(0.46, 0.26, 0.64, 0.83), transform 0.4s cubic-bezier(0.46, 0.26, 0.64, 0.83);
      z-index: 2;
      &.active {
        opacity: 1;
        transform: translateX(-100%);
        z-index: 2;
      }
      .menu__list {
        display: flex;
        flex-direction: column;
        height: 100%;
        &__item {
          & + .menu__list__item {
            margin-top: vw(31);
          }
          a {
            font-family: $font_akrobat;
            font-size: vw(60);
            letter-spacing: vw(11.2);
            color: #000;
          }
        }
      }
    }
    &-social {
      display: none;
    }
  }
  .footer {
    display: flex;
    flex-wrap: wrap;
    &__contact {
      width: 100%;
      padding-top: vw(30);
     margin-bottom: vw(53);
      .ttl {
        display: inline-block;
        font-size: vw(100);
        font-family: $font_akrobat_thin;
        font-weight: 400;
        color: $color_red;
        line-height: vw(114);
        letter-spacing: vw(11);
        border-bottom: 1px solid $color_red;
        padding-bottom: vw(21);
        padding-left: vw(22);
      }
      .telephone {
        display: block;
        font-size: vw(78.3);
        font-family: $font_akrobat_thin;
        color: $color_red;
        margin-top: vw(-7);
        margin-bottom: vw(17);
        padding-left: vw(28);
        letter-spacing: vw(7);
      }
      .btn-contact {
        font-family: $font_akrobat;
        width: vw(366);
        line-height: vw(84);
        font-size: vw(40);
        letter-spacing: vw(5.2);
        background-color: $color_red;
        margin-left: vw(30);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        .fav-mail {
          width: vw(40);
          height: vw(30);
          background: url($url/icon-mail-sp.png) no-repeat;
          background-size: contain;
          display: inline-block;
          margin: 0 vw(18) 0 vw(-15);
        }
      }
    }
    &__info {
      width: 100%;
      padding: vw(170) vw(10) vw(38);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      position: relative;
      &:before {
        content: '';
        width: 100%;
        height: 120%;
        position: absolute;
        right: 0;
        top: vw(55);
        background-color: $color_red;
        transform: skewY(-7.8deg);
        z-index: -1;
      }
      .info-top {
        height: 100%;
        display: inline-flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: vw(119);
        .footer-logo {
          span {
            display: block;
            font-size: vw(28.3);
            line-height: vw(32);
            letter-spacing: vw(9);
            font-weight: 500;
            text-align: center;
            margin-top: vw(17);
          }
          img {
           width: vw(552);
           height: vw(95);
          }
        }
        .group-social {
          display: flex;
          justify-content: center;
          width: 100%;
          margin-top: vw(44);
          > a {
            display: inline-block;
            color: transparent;
            font-size: 0;
            margin: 0 vw(21);
          }
          .fav {
            display: block;
            margin: 0;
            &-facebook {
              width: vw(43);
              height: vw(43);
              background: url('$url/icon_facebook_black_sp.png') no-repeat;
              background-size: contain;
            }
            &-line {
              width: vw(44);
              height: vw(43);
              background: url('$url/icon_line_black_sp.png') no-repeat;
              background-size: contain;
            }
            &-insta {
              width: vw(46);
              height: vw(46);
              background: url('$url/icon_insta_black_sp.png') no-repeat;
              background-size: contain;
            }
          }
        }
      }
      .info-bottom {
        .btn-dark {
          margin: auto;
          width: vw(561);
          height: vw(108);
          font-size: vw(26);
          letter-spacing: vw(5);
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #000;
          .arr-right {
            width: vw(16);
            height: vw(26);
            display: inline-block;
            background: url($url/arrow-right-sp.png) no-repeat;
            background-size: contain;
            margin-left: vw(17);
            margin-right: vw(-12);
          }
        }
        .copyright {
          font-family: $font_akrobat;
          font-size: vw(24);
          line-height: vw(36);
          letter-spacing: vw(5);
          text-align: center;
          color: #000;
          margin-top: vw(40);
        }
      }
    }
  }
}
