@charset "utf-8";
@import './_config/_mixin.css';
@import './_config/_media.css';
@import 'swiper/swiper-bundle.css';

body {
  background-color: $color_dark;
}

@media (--pc) {
  .mv {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding-left: 34px;
    margin-bottom: 125px;
    h2 {
      font-size: rem(150);
      font-family: $font_akrobat_thin;
      letter-spacing: 27.8px;
      line-height: 220px;
      color: $color_red;
      font-weight: 400;
      z-index: 2;
      width: 100%;
      padding-top: 38px;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    &:after {
      content: '';
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      position: absolute;
      top: 0;
      left: 0;
    }
    .scroll-down {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      bottom: 21px;
      left: 50%;
      transform: translateX(-50%);
      font-size: rem(12);
      line-height: 26px;
      font-family: $font_akrobat_semi;
      font-weight: 700;
      letter-spacing: 2px;
      z-index: 2;
      transition: opacity 0.3s;
      &:hover {
        opacity: 0.7;
      }
      .fav-scroll {
        width: 17px;
        height: 31px;
        margin-bottom: 5px;
        background: url($url/icon-scroll-down.png) no-repeat;
        background-size: contain;
      }
    }
  }
  .introduce {
    padding-bottom: 50px;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      left: -8px;
      bottom: 0;
      width: 0;
      height: 0;
      border-top: 1330px solid transparent;
      border-left: 94.858vw solid $color_red;
      z-index: -1;
    }
    &__movie {
      position: relative;
      iframe,
      video {
        width: 1200px;
        height: 510px;
        background-color: #000;
      }
      &:hover {
        cursor: pointer;
        &:before {
          opacity: 1;
        }
      }
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        opacity: 0;
        transition: 0.3s;
      }
      &.playing {
        .fav-play {
          opacity: 0;
        }
      }
      .fav-play {
        width: 109px;
        height: 72px;
        background: url($url/icon-play.png) no-repeat;
        background-size: contain;
        position: absolute;
        left: 50%;
        top: 202px;
        transform: translateX(-50%);
        transition: opacity 0.5s;
      }
    }
    &__description {
      margin-top: 47px;
      margin-bottom: 111px;
      p {
        font-size: rem(14);
        line-height: 42px;
        letter-spacing: 3.5px;
        text-align: center;
      }
    }
    &__slide {
      .swiper-slide {
        overflow: hidden;
        width: calc(100% / 3);
        height: 24.061vw;
      }
    }
  }
  .about {
    position: relative;
    padding: 81px 0 75px;
    &__bkg {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
    &__obj {
      width: 533px;
      display: flex;
      flex-direction: column;
      .txt {
        position: relative;
        padding: 35px 48px 0;
        p {
          font-size: rem(13);
          line-height: 34px;
          letter-spacing: 3.1px;
          color: #d2d2d2;
          font-feature-settings: 'palt' 1;
          & + p {
            margin-top: 15px;
          }
        }
      }
    }
  }
  .showroom {
    display: flex;
    > a {
      width: 50%;
      display: block;
      position: relative;
      height: 38.893vw;
      &:hover {
        .showroom__caption {
          opacity: 1;
        }
      }
    }
    &__thumb {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 0;
    }
    &__caption {
      width: 100%;
      height: 100%;
      z-index: 2;
      position: relative;
      padding: 40px 117px 40px 133px;
      background-color: rgba(0, 0, 0, 0.9);
      z-index: 2;
      display: flex;
      justify-content: center;
      flex-direction: column;
      opacity: 0;
      transition: opacity 0.3s;
      h4 {
        font-family: $font_akrobat;
        font-size: rem(15.7);
        color: $color_red;
        line-height: 17.7px;
        margin-bottom: 17px;
        letter-spacing: 2px;
      }
      h3 {
        font-size: rem(20);
        color: #bdbdbd;
        margin-bottom: 30px;
        letter-spacing: 4px;
        line-height: 32px;
        font-weight: normal;
        font-feature-settings: 'palt' 1;
      }
      p {
        font-size: rem(13);
        line-height: 36px;
        letter-spacing: 2.5px;
        color: #dadada;
      }
    }
    .view-more {
      width: 61px;
      height: 57px;
      position: absolute;
      right: 27px;
      bottom: 20px;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 3;
      &:before {
        content: '';
        width: 2px;
        height: 31px;
        background-color: $color_red;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      &:after {
        content: '';
        height: 2px;
        width: 31px;
        background-color: $color_red;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  .staff {
    padding-top: 40px;
    .ttl {
      padding-left: 36px;
      padding-bottom: 10px;
      width: 526px;
      z-index: 2;
      &-en {
        line-height: 112px;
      }
    }
    &__list {
      display: flex;
      justify-content: space-between;
      margin-top: -23px;
      &--item {
        transition: opacity 0.3s;
        &:hover {
          opacity: 0.75;
        }
        overflow: hidden;
        margin: 0 14px 0 13px;
        &:first-child,
        &:last-child {
          margin: 0;
        }
        width: calc((100% / 3) - 13px);
        figure {
          height: 100%;
          img {
            width: 100%;
            height: 21.622vw;
          }
          figcaption {
            display: block;
            padding: 25px 21px 44px;
            background-color: $color_red;
            width: 237px;
            height: 100%;
            p {
              line-height: 26px;
              color: #000;
            }
            .title-jp {
              font-size: rem(18);
              margin-bottom: 6px;
              letter-spacing: 4px;
            }
            .title-en {
              font-size: rem(13);
              font-family: $font_akrobat_semi;
              letter-spacing: 2.5px;
              line-height: 20px;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
  .shop {
    display: flex;
    flex-wrap: wrap;
    padding-top: 64px;
    &__inner {
      width: 50%;
      height: 37.508vw;
      > h2 {
        padding-left: 36px;
        padding-bottom: 36px;
        margin-top: -7px;
        width: 525px;
        .ttl-en {
          line-height: 110px;
        }
        .ttl-jp {
          margin-top: 24px;
        }
      }
      .info__list {
        width: 555px;
        padding: 54px 0 0 45px;
        &--items {
          width: 100%;
          display: flex;
          color: #d2d2d2;
          margin-bottom: 24px;
          .txt {
            width: 100px;
            flex-shrink: 0;
            font-size: rem(14);
            &-en {
              font-family: $font_akrobat_semi;
              font-weight: 500;
              letter-spacing: 2px;
            }
          }
          .content {
            width: 100%;
            font-size: rem(14);
            letter-spacing: 2.8px;
          }
        }
      }
      .maps {
        width: 100%;
        height: 100%;
      }
    }
  }
  .products {
    padding-top: 41px;
    > h2 {
      width: 533px;
      padding-bottom: 41px;
    }
    &-list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      padding: 0 39px;
      margin: 94px -27px 0;
    }
    &-item {
      display: inline-block;
      margin: 0 25px 42px;
      transition: opacity 0.3s;
      &:hover {
        opacity: 0.7;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .models {
    background-color: #000;
    padding: 212px 107px 201px 0;
    margin: 0 auto;
    position: relative;
    &:before {
      content: '';
      background: url($url/dots-left.png) no-repeat;
      background-size: contain;
      background-position: center;
      width: 319px;
      height: 670px;
      position: absolute;
      top: 92px;
      left: 63px;
      z-index: 3;
    }
    &:after {
      content: '';
      background: url($url/dots-right.png) no-repeat;
      background-size: contain;
      background-position: center;
      width: 125px;
      height: 709px;
      position: absolute;
      top: 51px;
      right: 90px;
      z-index: 3;
    }
    &__item {
      display: flex;
      height: 100%;
      .car-info {
        width: 450px;
        flex-shrink: 0;
        position: relative;
        .wrapTxt {
          width: 100%;
          position: absolute;
          top: 50%;
          left: 162px;
          transform: translateY(-50%);
        }
        h3 {
          font-weight: normal;
          font-family: $font_akrobat;
          margin-bottom: 35px;
          .category {
            display: block;
            font-size: rem(40);
            letter-spacing: 8px;
            margin-bottom: 6px;
            color: $color_red;
          }
          .name {
            display: block;
            font-size: rem(100);
            letter-spacing: 20px;
          }
        }
        dl {
          font-size: rem(12);
          letter-spacing: 2px;
          dt {
            position: relative;
            padding-left: 16px;
            &:before {
              content: '';
              width: 11px;
              height: 10px;
              background-color: #fff;
              position: absolute;
              left: 2px;
              top: 4px;
            }
            &:not(:first-child) {
              margin-top: 7px;
            }
          }
        }
      }
      .car-photo {
        width: 100%;
        img {
          width: 100%;
          height: auto;
          float: right;
        }
      }
    }
    .swiper-pagination {
      display: flex;
      align-items: center;
      position: absolute;
      bottom: 64px;
      right: percentage(302/1500);
      width: auto;
      left: unset;
      &:before {
        content: '取り扱い車種';
        font-size: rem(13);
        display: inline-block;
        height: 46px;
        text-align: center;
        background-color: #2e2e2e;
        line-height: 46px;
        padding: 0 30px;
        letter-spacing: 2px;
      }
      .paginate {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: $font_akrobat;
        background-color: #131313;
        width: auto;
        height: 46px;
        margin: 0 3px;
        padding: 0 35px;
        cursor: pointer;
        &-cate {
          font-size: rem(12);
          color: $color_red;
          letter-spacing: 2px;
          margin-bottom: 5px;
        }
        &-name {
          font-size: rem(16);
          letter-spacing: 2px;
        }
        &.current,
        &.swiper-pagination-bullet-active {
          background-color: $color_red;
          .paginate-cate {
            color: #000;
          }
        }
      }
    }
    .swiper-button-next {
      right: 17px;
      top: 420px;
      &:after {
        content: '';
        background: url($url/arr-slide.png) no-repeat;
        background-size: contain;
        width: 22px;
        height: 36px;
        transform: rotate(180deg);
      }
    }
    .swiper-button-prev {
      left: 23px;
      top: 437px;
      &:after {
        content: '';
        background: url($url/arr-slide.png) no-repeat;
        background-size: contain;
        width: 22px;
        height: 36px;
      }
    }
    .swiper-pagination-bullet {
      background-color: transparent;
      border-radius: 0;
      display: unset;
      height: unset;
      opacity: unset;
      width: unset;
    }
  }
}
@media (--sp) {
  .mv {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    h2 {
      font-size: vw(103);
      font-family: $font_akrobat_thin;
      letter-spacing: vw(14);
      line-height: vw(112);
      color: $color_red;
      font-weight: 400;
      z-index: 2;
      width: 100%;
      margin: vw(-65) 0 0 8px;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    &:after {
      content: '';
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      position: absolute;
      top: 0;
      left: 0;
    }
    .scroll-down {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      bottom: vw(40);
      left: 50%;
      transform: translateX(-50%);
      font-size: vw(20.6);
      font-family: $font_akrobat_semi;
      font-weight: 700;
      letter-spacing: vw(3.5);
      z-index: 2;
      .fav-scroll {
        width: vw(23);
        height: vw(42);
        margin-bottom: vw(12);
        background: url($url/icon-scroll-down-sp.png) no-repeat;
        background-size: contain;
      }
    }
  }
  .introduce {
    padding-top: vw(38);
    padding-bottom: vw(37);
    position: relative;
    .row {
      padding: 0;
    }
    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 0;
      border-top: vw(1235) solid transparent;
      border-left: vw(777) solid $color_red;
      z-index: -1;
    }
    &__movie {
      position: relative;
      iframe,
      video {
        width: 100%;
        height: vw(458);
      }
    }
    &__description {
      margin-top: vw(36);
      margin-bottom: vw(46);
      p {
        font-size: vw(26);
        line-height: vw(50);
        letter-spacing: vw(6.8);
        text-align: center;
      }
    }
    &__slide {
      .swiper-slide {
        overflow: hidden;
        height: vw(425);
      }
    }
  }
  .about {
    position: relative;
    padding: 0 0;
    &__bkg {
      width: 100%;
      height: vw(643);
    }
    &__obj {
      display: flex;
      flex-direction: column;
      position: relative;
      top: vw(-166);
      margin-bottom: vw(-82);

      .txt {
        position: relative;
        padding: vw(48) vw(32) 0;
        p {
          font-size: vw(26);
          line-height: vw(50);
          letter-spacing: vw(5);
          color: #d2d2d2;
          font-feature-settings: 'palt' 1;
          & + p {
            margin-top: vw(49);
          }
        }
      }
    }
  }
  .showroom {
    display: flex;
    flex-wrap: wrap;
    > a {
      width: 100%;
      display: block;
      position: relative;
      margin-bottom: vw(27);
    }
    &__thumb {
      width: 100%;
      height: vw(590);
    }
    &__caption {
      width: 100%;
      z-index: 2;
      position: relative;
      padding: vw(40) vw(30) vw(10);
      z-index: 2;
      display: flex;
      flex-direction: column;
      h4 {
        font-family: $font_akrobat;
        font-size: vw(28);
        color: $color_red;
        line-height: vw(17.7);
        margin-bottom: vw(19);
        letter-spacing: vw(3.4);
      }
      h3 {
        font-size: vw(28);
        color: #bdbdbd;
        margin-bottom: vw(24);
        letter-spacing: vw(8.2);
        line-height: vw(34);
        font-weight: normal;
        font-feature-settings: 'palt' 1;
      }
      p {
        font-size: vw(26);
        line-height: vw(50);
        letter-spacing: vw(7);
        color: #dadada;
        font-feature-settings: 'palt' 1;
      }
    }
    .view-more {
      display: none;
    }
  }
  .staff {
    padding-bottom: vw(74);
    .ttl {
      padding-bottom: vw(10);
      &-en {
        line-height: vw(112);
      }
    }
    &__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: vw(-20);
      &--item {
        width: vw(629);
        figure {
          img {
            width: vw(629);
            height: vw(422);
          }
          figcaption {
            display: block;
            padding: vw(25) vw(10) vw(22) vw(26);
            background-color: $color_red;
            width: vw(220);
            min-height: vw(142);
            p {
              line-height: 26px;
              color: #000;
            }
            .title-jp {
              font-size: vw(28);
              margin-bottom: vw(13);
              letter-spacing: vw(5);
            }
            .title-en {
              font-size: vw(20);
              font-family: $font_akrobat_semi;
              letter-spacing: vw(3.2);
              line-height: vw(28);
              font-weight: 500;
            }
          }
        }
      }
    }
  }
  .products {
    padding-top: vw(60);
    &-list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      padding: 0 vw(25);
      margin: vw(25) vw(-20) vw(31);
    }
    &-item {
      display: inline-block;
      margin: 0 vw(10) vw(42);
      width: calc(25% - vw(20));
      text-align: center;
      .wakos {
        width: vw(132);
        height: vw(45);
      }
      .sunoco {
        width: vw(147);
        height: vw(91);
      }
      .motul {
        width: vw(156);
        height: vw(49);
      }
      .petronas {
        width: vw(111);
        height: vw(87);
      }
      .endless {
        width: vw(122);
        height: vw(60);
      }
      .project {
        width: vw(70);
        height: vw(81);
      }
      .ogura {
        width: vw(179);
        height: vw(59);
      }
      .racing {
        width: vw(123);
        height: vw(52);
      }
      .tom {
        width: vw(110);
        height: vw(28);
      }
      .hks {
        width: vw(90);
        height: vw(36);
      }
      .bltz {
        width: vw(126);
        height: vw(41);
      }
      .cusco {
        width: vw(169);
        height: vw(38);
      }
      .fuji {
        width: vw(124);
        height: vw(25);
      }
    }
  }
  .shop {
    display: flex;
    flex-wrap: wrap;
    &__inner {
      width: 100%;
      margin-bottom: vw(18);
      .info__list {
        padding: vw(21) 0 vw(44) vw(29);
        &--items {
          width: 100%;
          color: #d2d2d2;
          margin-bottom: vw(13);
          font-weight: 500;
          .txt {
            flex-shrink: 0;
            font-size: vw(26);
            display: block;
            letter-spacing: vw(4);
            &-en {
              font-family: $font_akrobat_semi;
            }
          }
          .content {
            width: 100%;
            font-size: vw(26);
            letter-spacing: vw(5);
            font-feature-settings: 'palt' 1;
          }
        }
      }
      .photo-garage {
        width: vw(708);
        height: vw(570);
        margin: 0 auto;
        display: block;
      }
      .maps {
        margin: 0 auto;
        display: block;
        width: vw(708);
        height: vw(570);
      }
    }
  }
  .models {
    background-color: #000;
    padding: vw(186) 20px vw(43);
    margin: 0 auto;
    position: relative;
    &:before {
      content: '';
      background: url($url/bg-dots-left.png) no-repeat;
      background-size: contain;
      background-position: center;
      width: vw(120);
      height: vw(115);
      position: absolute;
      bottom: vw(211);
      left: 0;
      z-index: 3;
    }
    &:after {
      content: '';
      background: url($url/bg-dots-right.png) no-repeat;
      background-size: contain;
      background-position: center;
      width: vw(157);
      height: vw(164);
      position: absolute;
      top: vw(25);
      right: vw(97);
      z-index: 3;
    }
    &__item {
      display: flex;
      flex-wrap: wrap;
      .car-info {
        width: 100%;
        flex-shrink: 0;
        position: relative;
        .wrapTxt {
          width: 100%;
          position: absolute;
          left: vw(48);
          top: vw(-119);
        }
        h3 {
          font-weight: normal;
          font-family: $font_akrobat;
          .category {
            display: block;
            font-size: vw(32);
            letter-spacing: vw(6);
            margin-bottom: vw(9);
            color: $color_red;
          }
          .name {
            display: block;
            font-size: vw(70);
            letter-spacing: vw(15);
          }
        }
        dl {
          font-size: rem(12);
          letter-spacing: 2px;
          dt {
            position: relative;
            padding-left: 16px;
            &:before {
              content: '';
              width: 11px;
              height: 10px;
              background-color: #fff;
              position: absolute;
              left: 2px;
              top: 4px;
            }
            &:not(:first-child) {
              margin-top: 7px;
            }
          }
        }
      }
      .car-photo {
        width: 100%;
        img {
          width: vw(711);
          height: auto;
        }
      }
    }
    .swiper-pagination {
      display: flex;
      flex-direction: column;
      position: relative;
      margin-top: 41px;
      padding: 0 vw(50);
      z-index: 2;
      &:before {
        content: '取り扱い車種';
        font-size: vw(26);
        display: inline-block;
        text-align: center;
        background-color: #2e2e2e;
        line-height: vw(71);
        padding: 0 30px;
        letter-spacing: vw(5);
      }
      .paginate {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        width: 100%;
        font-family: $font_akrobat;
        background-color: #131313;
        height: 0;
        opacity: 0;
        padding: 0 23px;
        cursor: pointer;
        font-weight: normal;
        position: relative;
        &:after {
          content: '';
          background: url($url/arr-down-sp.png) no-repeat;
          background-size: contain;
          width: vw(20);
          height: vw(12);
          position: absolute;
          right: vw(26);
          top: 50%;
          transform: translateY(-50%);
        }
        &-cate {
          font-size: vw(23.4);
          color: $color_red;
          letter-spacing: vw(4.8);
          margin-bottom: 5px;
        }
        &-name {
          font-size: vw(31.3);
          letter-spacing: vw(5.8);
        }
        &.current,
        &.swiper-pagination-bullet-active {
          height: vw(89);
          opacity: 1;
        }
      }
    }
    .swiper-button-next {
      width: vw(42);
      height: vw(68);
      right: vw(25);
      top: vw(288);
      &:after {
        content: '';
        background: url($url/arr-slide-sp.png) no-repeat;
        background-size: contain;
        width: vw(42);
        height: vw(68);
        transform: rotate(180deg);
      }
    }
    .swiper-button-prev {
      width: vw(42);
      height: vw(68);
      left: vw(14);
      top: vw(288);
      &:after {
        content: '';
        background: url($url/arr-slide-sp.png) no-repeat;
        background-size: contain;
        width: vw(42);
        height: vw(68);
      }
    }
    .swiper-pagination-bullet {
      background-color: transparent;
      border-radius: 0;
      display: unset;
      height: unset;
      opacity: unset;
      width: unset;
    }
  }
}
