mixin pic(pc, sp, alt='')
  picture
    source(media='(min-width: 769px)', srcset="/assets/images/" + pc)
    source(media='(max-width: 768px)', srcset="/assets/images/" + sp)
    img(src="/assets/images/" + sp, srcset="/assets/images/" + sp, alt=alt, loading="lazy")&attributes(attributes)

mixin img(src, alt='')
  -
    let targetPath = src
      .replace(/["']/g, '')
      .replace(/\.\.\//g, '')
      .replace(/^\//i, '');
    targetPath = nodePath.resolve(nodeDest, targetPath);

    let isError = false;
    let dimensions = null;
    try {
      let file = nodeFs.readFileSync(targetPath);
    } catch(e) {
      isError = true;
    }
    if (!isError) {
      dimensions = nodeSize(targetPath);
    }
  if dimensions
    img(src="/assets/images/" + src, alt=alt, width=dimensions.width, height=dimensions.height, loading="lazy")&attributes(attributes)
  else
    img(src="/assets/images/" + src, alt=alt, loading="lazy")&attributes(attributes)

footer.footer#footer
  .footer__contact#contact 
    h2.ttl 
      | CONTACT 
      br
      | GR GARAGE
    a(href="tel:+0286123055").telephone TEL 028-612-3055
    a(href="#").btn-contact 
      i.fav-mail
      | CONTACT  
  .footer__info
    .info-top
      a(href="/").footer-logo 
        +pic('/logo-footer.png','/logo-footer-sp.png','Garage')
        span 宇都宮つくるま工房
      .group-social 
        a(href="#")
          i.fav.fav-facebook 
          | facebook 
        a(href="#")
          i.fav.fav-line 
          | line 
        a(href="#")
          i.fav.fav-insta 
          | instagram  
    .info-bottom
      a(href="#").btn-dark 
        |トヨタカローラ栃木TOP
        i.arr-right
      p.copyright 
        | &copy; 2017 TOYOTA COROLLA TOCHIGI CO., LTD. 
        br.show_sp
        | ALL Right Reserved.