mixin pic(pc, sp, alt='')
  picture
    source(media='(min-width: 769px)', srcset="/assets/images/" + pc)
    source(media='(max-width: 768px)', srcset="/assets/images/" + sp)
    img(src="/assets/images/" + sp, srcset="/assets/images/" + sp, alt=alt, loading="lazy")&attributes(attributes)

mixin img(src, alt='')
  -
    let targetPath = src
      .replace(/["']/g, '')
      .replace(/\.\.\//g, '')
      .replace(/^\//i, '');
    targetPath = nodePath.resolve(nodeDest, targetPath);

    let isError = false;
    let dimensions = null;
    try {
      let file = nodeFs.readFileSync(targetPath);
    } catch(e) {
      isError = true;
    }
    if (!isError) {
      dimensions = nodeSize(targetPath);
    }
  if dimensions
    img(src="/assets/images/" + src, alt=alt, width=dimensions.width, height=dimensions.height, loading="lazy")&attributes(attributes)
  else
    img(src="/assets/images/" + src, alt=alt, loading="lazy")&attributes(attributes)

header.header#header
  h1.header-logo
    a(href="/") 
      +pic('logo.png','logo-sp.png','Garage')
      span 宇都宮つくるま工房
  span#trigger.show_sp.hamburger-box 
    span.hamburger-inner 
  .header-menu
    ul.menu__list 
     li.menu__list__item 
      a(href="#about") ABOUT
     li.menu__list__item 
      a(href="#staff") STAFF
     li.menu__list__item 
      a(href="#models") MODELS
     li.menu__list__item 
      a(href="#products") PRODUCTS
     li.menu__list__item 
      a(href="#shop") SHOP INFO
     li.menu__list__item 
      a(href="#contact") CONTACT
  .header-social 
    a(href="#")
      i.fav.fav-facebook 
      | facebook 
    a(href="#")
      i.fav.fav-line 
      | line 
    a(href="#")
      i.fav.fav-insta 
      | instagram   